@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20pt;
    color: #ffffff;
}
body{
    height: 100Vh;
    display: flex;
    overflow: hidden;
    position: relative;
    background-image: url(fundo.jfif);
    background-position: left;
    background-size: contain;
}
h1{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 1rem;
}
.vencedor{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    top: -100vh;
    transition: 0.3s;
    background: #1a1a1aa1;
    backdrop-filter: blur(5px);
    z-index: 1;
}
.vencedor h2{
    color: #ffffff;
    font-size: 40pt;
}
.jogadorAtual{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background: #ffffff18;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 4px;
}
.score{
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: #ffffff18;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
.score h3, .score p{
    padding: 7px 0;
}
.caixa{
    margin: auto;
    display: grid;
    grid-template-columns: 4.5rem 4.5rem 4.5rem;
    grid-template-rows: 4.5rem 4.5rem 4.5rem;
    gap: 0.3rem;
}
.caixa div{
    box-shadow: 0.3rem 0.3rem 1rem -0.3rem #303030;
    background: #ffffff56;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50pt;
    cursor: pointer;
    color: #1a1a1a;
    border-radius: 4px;
    font-family: 'Pacifico', cursive;
    transition: 0.2s;
}
.caixa div:hover{
    background: #ffffff94;
}
button{
    background: #ffffff56;
    backdrop-filter: blur(5px);
    border: 1px solid #fff;
    padding: 0.3rem 1rem;
    cursor: pointer;
    font-size: 12pt;
    transition: 0.2s;
    border-radius: 4px;
}
.limpar{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
button:hover{
    background: #ffffff94;
}